.searchAds {
	padding: 12px;
	display: flex;
	flex-direction: column;
	border-radius: 12px;
	border: 1px solid #092435;
	width: fit-content;
	margin: 12px 12px 0 auto;

	> p {
		font-family: Verdana, Geneva, Tahoma, sans-serif;
		width: fit-content;
		margin: 0;
	}

	> section {
		display: flex;
		flex-direction: row;
		width: fit-content;

		> input {
			margin-right: 8px;
			border-radius: 4px;
			border: 1px solid #092435;
		}

		> button {
			background-color: #fff;
			color: #092435;
			border: 1px solid #092435;
			border-radius: 4px;
		}
		> button:hover {
			background-color: #092435;
			color: #fff;
		}
	}
}
